.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.login-form{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
}

.login-form > h1{
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
}

.login-form > input{
    min-width: 380px;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    font-size: 15px;
}

.submit-button{
    padding: 17px 30px;
    margin-top: 10px;
    background: #000;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}